
@{
    ViewBag.Title = "Sorted Cash";
}

<div class="user-Profile" style="min-height:430px;">
    <div id="employees-Container">
        @{ Html.RenderAction("_AllSortedCashs", "SortedCash"); }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#SortedCash-dataTable", [1, 2, 3, 4], [0, 5],10);
        });
    </script>
}
