
@{
    ViewBag.Title = "Cash Opening";
}

<div class="user-Profile" style="min-height:430px;">
    <div id="employees-Container">
        @{ Html.RenderAction("_AllCashOpenings", "CashOpening"); }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#CashOpening-dataTable", [1, 2, 3, 4, 5], [0, 6],10);
        });
    </script>
}
