
@{
    ViewBag.Title = "Vault Custodian";
}

<div class="user-Profile" style="min-height:430px;">
    <div id="employees-Container">
        @{ Html.RenderAction("_VaultCustodians", "VaultCustodian"); }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#VaultCustodian-dataTable", [1, 2, 3, 4, 5], [0],10);
        });
    </script>
}
