
@{
    ViewBag.Title = "Cash Receiving List";
}

<div class="user-Profile" style="min-height:430px;">
    <div id="employees-Container">
        @{ Html.RenderAction("_AllAnnexureI", "AnnexureI"); }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            filterDataTable("#AnnexureI-dataTable", [1, 2, 3, 4, 5, 6, 7], [0, 8], 10);
        });
    </script>
}

